:root {
  --accentColorGreen: #28a745;
  --accentColorBlue: #0284d0;
  --textColorBlack: #333333;
  --textColorGray: #808080;
  --textColorWhite: #ffffff;
  --bgForm: #f4f4f4;
  --lightGreen: #2ebf4f;
  --bgBlack: #000000;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
