<section class="section">
  <div class="container form">
    <div class="form__image"></div>
    <div class="form__wrapper">
      <h2 class="form__title">Request Callback</h2>
      <form class="form__request">
        <ul class="form__request list">
          <li class="form__request item">
            <label>
              <input type="name" name="name" placeholder="Enter your name" />
            </label>
          </li>
          <li class="form__request item">
            <label>
              <input type="email" name="email" placeholder="Enter email*" />
            </label>
          </li>
        </ul>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
