<section>
  <div>
    <div>
      <h3 style="color: var(--textColorBlack)">This is what we do</h3>
      <h2 id="cases" style="color: var(--textColorBlack)">Business Cases</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
    </div>
    <div>
      <ul>
        <li>
          <img
            src="./images/cases/cases1.jpg"
            alt="Lots of people at the table"
            width="280"
            height="176"
          />
        </li>
        <li>
          <img
            src="./images/cases/cases3.jpg"
            alt="Man making a note in a notepad"
            width="280"
            height="176"
          />
        </li>
        <li>
          <img
            src="./images/cases/cases5.jpg"
            alt="Man shaking hands with a woman"
            width="280"
            height="176"
          />
        </li>
        <li>
          <img
            src="./images/cases/cases7.jpg"
            alt="We are a team"
            width="280"
            height="176"
          />
        </li>
        <li>
          <img
            src="./images/cases/cases2.jpg"
            alt="Woman working on a laptop"
            width="280"
            height="176"
          />
        </li>
        <li>
          <img
            src="./images/cases/cases4.jpg"
            alt="View of buildings from below"
            width="280"
            height="176"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
