<section class="section footer">
  <div id="contact" class="container footer__wrapper">
    <ul>
      <li>
        <a href="#" aria-label="facebook">
          <svg width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="twitter">
          <svg width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="youtube">
          <svg width="40" height="35">
            <use href="./images/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" aria-label="linkedin">
          <svg width="31" height="35">
            <use href="./images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p>Copyright © 2021 - FinanceLedger</p>
  </div>
</section>
