<section>
  <div class="footer__wrapper">
    <ul>
      <li>
        <a class="social__link" href="#" aria-label="instagram">
          <svg class="social__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="social__link" href="#" aria-label="twitter">
          <svg class="social__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="social__link" href="#" aria-label="facebook">
          <svg class="social__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="social__link" href="#" aria-label="linkedin">
          <svg class="social__icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p>Copyright © 2021 - FinanceLedger</p>
  </div>
</section>
