<header class="header">
  <div class="container header">
    <div class="header__logo">
      <a href="./index.html">
        <svg class="header__logo image">
          <use href="./images/symbol-defs.svg#icon-book_open"></use>
        </svg>
        <p class="header__logo text">
          <span class="header__logo text finance">Finance</span
          ><span class="header__logo text ledger">Ledger</span>
        </p></a
      >
    </div>
    <div class="header__navigation" data-box>
      <nav data-nav>
        <ul class="header__navigation list">
          <li class="header__navigation link">
            <a data-scroll href="./index.html">Home</a>
          </li>
          <li class="header__navigation link">
            <a data-scroll href="#about">About </a>
          </li>
          <li class="header__navigation link">
            <a data-scroll href="#cases">Cases</a>
          </li>
          <li class="header__navigation link">
            <a data-scroll href="#blog">Blog</a>
          </li>
          <li class="header__navigation link">
            <a data-scroll href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
