<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <ul class="modal-content">
    <li class="mySlides">
      <p class="numbertext">1 / 4</p>
      <img src="./images/cases/1mobxcase1.jpg"
              alt="Lots of people at the table" style="width: 100%" />
    </li>

    <li class="mySlides">
      <p class="numbertext">2 / 4</p>   
      <img src="img2_wide.jpg" style="width: 100%" />
    </li>

    <li class="mySlides">
      <p class="numbertext">3 / 4</p>
      <img src="img3_wide.jpg" style="width: 100%" />
    </li>

    <li class="mySlides">
      <p class="numbertext">4 / 4</p>
      <img src="img4_wide.jpg" style="width: 100%" />
    </div>
  </ul>
</div>
