<section class="section team">
  <div class="container team">
    <div class="team__wrapper">
      <h3>Who we are</h3>
      <h2>Our Professional Team</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
    </div>
    <div>
      <ul class="team__list">
        <li class="team__item">
          <div class="figure">
            <ul class="social-media">
              <li>
                <a href="#" aria-label="facebook">
                  <svg width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="twitter">
                  <svg width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="youtube">
                  <svg width="40" height="35">
                    <use href="./images/symbol-defs.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="linkedin">
                  <svg width="31" height="35">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <!-- <picture> // не вдалося так підключити
              <source
                srcset="
                  ./images/team/person1.webp    1x,
                  ./images/team/person1@2x.webp 2x
                "
                type="image/webp" />
              <source
                srcset="
                  ./images/team/person1.jpg    1x,
                  ./images/team/person1@2x.jpg 2x
                "
                type="image/jpeg" />
              <img src="./images/team/person1.jpg" alt="John Doe"
            /></picture> -->
            <picture>
              <source
                srcset="
                  ./images/team/1deskxteam1.jpg 1x,
                  ./images/team/2deskxteam1.jpg 2x
                "
                media="(min-width:1360px)"
                type="image/jpeg" />
              <source
                srcset="
                  ./images/team/1tabxteam1.jpg 1x,
                  ./images/team/2tabxteam1.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg" />
              <source
                srcset="
                  ./images/team/1mobxteam1.jpg 1x,
                  ./images/team/2mobxteam1.jpg 2x
                "
                media="(min-width:480px)"
                type="image/jpeg" />
              <img src="./images/team/1mobxteam1.jpg" alt="John Doe"
            /></picture>
          </div>

          <h4>John Doe</h4>
          <p>President</p>
        </li>
        <li class="team__item">
          <div class="figure">
            <ul class="social-media">
              <li>
                <a href="#" aria-label="facebook">
                  <svg width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="twitter">
                  <svg width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="youtube">
                  <svg width="40" height="35">
                    <use href="./images/symbol-defs.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="linkedin">
                  <svg width="31" height="35">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <picture>
              <source
                srcset="
                  ./images/team/1deskxteam2.jpg 1x,
                  ./images/team/2deskxteam2.jpg 2x
                "
                media="(min-width:1360px)"
                type="image/jpeg" />
              <source
                srcset="
                  ./images/team/1tabxteam2.jpg 1x,
                  ./images/team/2tabxteam2.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg" />
              <source
                srcset="
                  ./images/team/1mobxteam2.jpg 1x,
                  ./images/team/2mobxteam2.jpg 2x
                "
                media="(min-width:480px)"
                type="image/jpeg" />
              <img src="./images/team/1mobxteam2.jpg" alt="Jane Doe"
            /></picture>
          </div>

          <h4>Jane Doe</h4>
          <p>Vice President</p>
        </li>
        <li class="team__item">
          <div class="figure">
            <ul class="social-media">
              <li>
                <a href="#" aria-label="facebook">
                  <svg width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="twitter">
                  <svg width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="youtube">
                  <svg width="40" height="35">
                    <use href="./images/symbol-defs.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" aria-label="linkedin">
                  <svg width="31" height="35">
                    <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <picture>
              <source
                srcset="
                  ./images/team/1deskxteam3.jpg 1x,
                  ./images/team/2deskxteam3.jpg 2x
                "
                media="(min-width:1360px)"
                type="image/jpeg" />
              <source
                srcset="
                  ./images/team/1tabxteam3.jpg 1x,
                  ./images/team/2tabxteam3.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpeg" />
              <source
                srcset="
                  ./images/team/1mobxteam3.jpg 1x,
                  ./images/team/2mobxteam3.jpg 2x
                "
                media="(min-width:480px)"
                type="image/jpeg" />
              <img src="./images/team/1mobxteam3.jpg" alt="Steve Smith"
            /></picture>
          </div>

          <h4>Steve Smith</h4>
          <p>Marketing Head</p>
        </li>
      </ul>
    </div>
  </div>
</section>
