.section.cases {
  background-color: var(--bgBlack);
}
.container.cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--textColorWhite);
}

.cases__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cases__wrapper h2,
.cases__wrapper h3 {
  color: var(--textColorBlack);
}

.cases__wrapper p {
  margin-top: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.cases__list {
  width: 100%;

  @media screen and (min-width: $tab) {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 17px;
  }
}

.cases__item {
  width: 100%;
  :hover,
  :focus {
    opacity: 0.8;
  }
  @media screen and (min-width: $tab) {
    flex-basis: calc((100% - 34px) / 3);
  }
}

@media screen and (max-width: $tab) {
  .cases__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.cases__item img {
  @media screen and (max-width: $mob2) {
    width: 280px;
  }
  @media screen and (min-width: $tab) {
    // max-width: 223px;
  }
}
