.section.footer {
  background-color: var(--textColorBlack);
}

.container.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 0px;
}

.footer__wrapper p {
  font-size: 16px;
  line-height: 1.4;
  color: var(--textColorWhite);
  @media screen and (min-width: $tab) {
    font-size: 18px;
  }
}

.footer__wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__wrapper li:not(:last-child) {
  margin-right: 25px;
}

.footer__wrapper a {
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  color: var(--textColorWhite);
  border-radius: 50%;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accentColorGreen);
  }
  svg {
    fill: currentColor;
  }
}
