.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: var(--textColorBlack);
  border-radius: 0px;
  //   @media screen and (min-width: 480px) {
  //     width: 480px;
  //   }
  //   @media screen and (min-width: 768px) {
  //     flex-direction: row;
  //     width: 768px;
  //   }
  //   @media screen and (min-width: 1360px) {
  //     width: 1360px;
  //     padding: '32px 30px';
  //   }
}

.footer__wrapper p {
  font-size: 16px;
  line-height: 1.4;
  color: var(--textColorWhite);
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.footer__wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__wrapper li:not(:last-child) {
  margin-right: 25px;
}

.footer__wrapper a {
  display: flex;
  //   width: 44px;
  //   height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--textColorWhite);
  border-radius: 50%;
  //   transition: color 250ms var(--timing-function),
  //     background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    // color: var(--button-text-color);
    // background-color: var(--accent-color);
  }

  svg {
    fill: currentColor;
  }
}
