.container.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  min-width: 320px;
  height: 120px;
  padding: 25px;
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: transparent;
  // opacity: 1;
  z-index: 100;
  @media screen and (min-width: $tab) {
    flex-direction: row;
    width: 768px;
    height: 70px;
    padding: "25px 32px";
  }
  @media screen and (min-width: $desk) {
    width: 1360px;
    padding: "40px 28px";
  }
}

.header__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: transform 1s;

  &:hover,
  &:focus {
    transform: scale(1.1);
    text-decoration: none;
  }
}

.header__logo .image {
  width: 40px;
  height: 35px;
  margin-right: 8px;
}

.header__logo .text {
  font-size: 28px;
  color: var(--accentColorGreen);
  transition: color 250ms var(--timing-function);
}

@media screen and (min-width: $tab) {
  .header__logo .text {
    font-size: 35px;
  }
}

.header__logo .text .ledger {
  margin-left: 8px;
  font-size: 28px;
  color: var(--textColorWhite);
}

@media screen and (min-width: $tab) {
  .header__logo .text .ledger {
    margin-left: 10px;
  }
}

@media screen and (min-width: $desk) {
  .header__logo .text .ledger {
    margin-left: 4px;
  }
}
.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navigation.list {
  margin-top: 16px;
  @media screen and (min-width: $tab) {
    margin-top: 0px;
  }
}

.header__navigation .link {
  margin: 0px;
}

.header__navigation .link:not(:last-child) {
  margin-right: 12px;
}

@media screen and (min-width: $tab) {
  .header__navigation .link:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: $desk) {
  .header__navigation .item:not(:last-child) {
    margin-right: 50px;
  }
}
