.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    width: 768px;
    padding: '16px 32px';
  }
  @media screen and (min-width: 1360px) {
    width: 1360px;
    padding: '32px 30px';
  }
}

.header__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header__logo .image {
  width: 40px;
  height: 35px;
  margin-right: 8px;
}

.header__logo .text {
  font-size: 28px;
  color: var(--accentColorGreen);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--lightGreen);
  }
}

@media screen and (min-width: 768px) {
  .header__logo .text {
    font-size: 35px;
  }
}

.header__logo .text .ledger {
  margin-left: 8px;
  font-size: 28px;
  color: var(--textColorWhite);
}

@media screen and (min-width: 768px) {
  .header__logo .text .ledger {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1360px) {
  .header__logo .text .ledger {
    margin-left: 4px;
  }
}
.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navigation.list {
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}

.header__navigation .link {
  margin: 0px;
}

.header__navigation .link:not(:last-child) {
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .header__navigation .link:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1360px) {
  .header__navigation .item:not(:last-child) {
    margin-right: 50px;
  }
}
