.container.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 413px;
  @media screen and (min-width: $tab) {
    height: 954px;
  }
  @media screen and (min-width: $desk) {
    height: 698px;
  }
}
.hero__text {
  margin-top: 16px;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  color: var(--textColorWhite);
  @media screen and (min-width: $tab) {
    font-size: 40px;
  }
  @media screen and (min-width: $desk) {
    line-height: 1.4;
  }
}

.hero__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  margin-top: 24px;
  gap: 10px;
  width: 175px;
  height: 57px;
  background: var(--accentColorGreen);
  border-radius: 5px;
  border: 1px solid var(--accentColorGreen);
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: var(--textColorWhite);
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--lightGreen);
  }
}

.hero__button span {
  display: flex;
  align-items: center;
}

.hero__button span::before {
  content: url('/src/images/gallery/arrow_right.png');
  width: 9px;
  height: 18px;
  margin-right: 9px;
}
